div.scroll
{
	overflow:hidden;
	width:100%;
	line-height:20px;
	height:20px;
	font-size:20px;
	text-align:center;
}
div.whole
{
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	position:fixed;
    display:none;
}

.C_and_N
{
  position:fixed;
}

.nearby_comment
{
  position:fixed;
  top:25%;
  width:200px;
}

.comment_show_up
{
  position:fixed;
  left:12%;
  top:50%;
}

.nearby_comment_bg
{
  z-index:1;
  position:fixed;
  top:24%;
  width:196px;
}

.nearby_comment_content
{
  z-index:2;
  position:fixed;
  top:25%;
  width:195px;
  left:1%;
}
