body
{
  background:-webkit-gradient(linear, 0 0,right bottom, from(#FFFFFF), to(#E8E7E8));
  overflow:visible;
}

.left_part
{
  float:left;
  margin-top:50px;
  margin-left:50px;
  display:inline;
}

.act1
{
  display:inline;
  margin-left:10px;
}

.act2
{
  margin:auto;
  display:inline;
  margin-left:30px;
}

.act_logo1
{
  margin-left:35px;
}

.act_logo2
{
  margin-left:85px;
}

.separation
{
  margin-top:10px;
  margin-left:25px;
}

.book_list
{
  margin-top:30px;
  margin-left:30px;
}

.right_part
{
  float:left;
  margin-top:50px;
  margin-left:60px;
  display:inline;
}

.user
{
  margin-top:50px;
}

.search
{
  margin-top:30px;
}

.input
{
  border:0px;
  font-size:22px;
  width:180px;
}

.search_button
{
  position:relative;
  top:10px;
}
