.ceil
{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:#676766;
}

#canvasId
{
  margin-top:50px;
  margin-left:200px;
}

.logo
{
  margin-left:10px;
}

.home_page {
	color: #E4E4E4;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	text-shadow: 0px -1px 0px rgba(228,228,228,0.5);	
    margin-left:30px;
}

.search
{
  margin-left:30px;
  -webkit-border-radius:8px;
  border:0px;
}
