<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Midas Reader</title>
	<script type="text/javascript" src="/static/js/textSections.js"></script>
	<script type="text/javascript" src="/static/js/editor.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
  <header> <h1>Midas Reader</h1> </header>
{% if latest_book_list %} <div id="container">
<div class="page" id="1" style="display: block;">
<div class="content">
  {% for p in latest_book_list %}
  <p>{{ p.test_text }}</p>
  {% endfor %}
</div>
<input type="button" class="pagebutton button" onclick="return nextPage('2')" value="Next">
<input type="button" class="pagebutton button" onclick="return prevPage('0')" value="Prev">
</div>
</div>
{% else %}
<div class="content">No text available</div>
{% endif %}
</body>
</html>

