<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/static/js/jquery.js">
    </script>
    <script src="/static/js/jq_fix_csrf.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      function click_me(){
        location.href = "http://www.baidu.com";
      }
      function post_it(){
    $.post("/print/", {
page_num: 999
},
function(data) {
alert(data);
});
      }
function get_it() {
  $.get("/print", function(data){
      alert(data);
      });
}

</script>
</head>
<body>
  <button onclick="click_me()">click</button>
  <script type="text/javascript">
</script>
<button onclick="post_it()"> Post it </button>
<button onclick="get_it()"> Get it </button>
</body>
</html>
