<html>
<head>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="comment.js"></script>
<link rel="stylesheet" href="./comment.css" />
</head>
 
<body onload="init()">
	<div class="whole" id="wholeId" onmouseover="stop()" onmouseout="goon()">
		<div id="scrollId" class="scroll">
			<div class="scroll1">This is comment:1</div>
			<div class="scroll2">This is comment:2</div>
			<div class="scroll3">This is comment:3</div>
			<div class="scroll5">This is comment:4</div>
			<div class="scroll6">This is comment:5</div>
			<div class="scroll6">This is comment:6</div>
			<div class="scroll7">This is comment:7</div>
			<div class="scroll8">This is comment:8</div>
			<div class="scroll9">This is comment:9</div>
			<div class="scroll10">This is comment:10</div>
			<div class="scroll11">This is comment:11</div>
			<div class="scroll12">This is comment:12</div>
			<div class="scroll13">This is comment:13</div>
			<div class="scroll14">This is comment:14</div>
		</div>
		<input type="button" class="agree" value="Agree(0)"/>
		<input type="button" class="against" value="Against(0)"/>
	</div>
	<input type="button" class="flip" value="Show" >
</body>
</html>

