<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Midas Reader</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
  </head>
  <body>
    <div class="left_part">
      <!--Activity part-->
      <div class="activity">
        <!--  <img src="/static/pic/index/book_tag1.png" class="tag1" />
        <img src="/static/pic/index/book_tag2.png" class="tag2" />-->
        <div class="act_block">
          <a href="/templates/act1.html"><img src="/static/pic/index/activity1.png" width="300" height="200" class="act1"></a>
          <a href="/templates/act2.html"><img src="/static/pic/index/activity2.png" width="300" height="200" class="act2"></a>
        </div>
        <div class="act_logo"> 
          <img src="/static/pic/index/activity_logo.png" class="act_logo1"/>
          <img src="/static/pic/index/activity_logo.png" class="act_logo2"/>
        </div>
      </div>

      <img src="/static/pic/index/separate.png" width="600"class="separation"/>
      <div class="book_list">
        {% if book_list %}
        <article> {% for book in book_list%}</article>
        <a href="/reader/{{book.id}}/1/" ><img src="{{book.cover_path}}" alt="Cover of {{book.book_name}}" width="180" height="280"/></a>
        {%endfor%}
        {% else %}
        <article>Error, plz refresh.</article>
        {% endif %}
      </div>
    </div>

    <div class="right_part"> 
      <div>
        <img src="/static/pic/index/logo.png" class="logo" height="50"/>
      </div>
      <div class="user">
        <img src="/static/pic/index/user.png" class="user_image"/>
        <nav class="user_name">
          {% if user.is_authenticated %}
          {{user.username}}
          {% else %}

          {% endif %}
        </nav>
      </div>
      <div class="search">
        <input type="text" class="input"/>
        <input type="image" src="/static/pic/index/search_button.png" class="search_button"/>
      </div> 
    </div>

  </body>
</html>
