<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Midas Reader</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
  <header> <h1>Midas Reader</h1> </header>
  <nav>
    <a href="../reader" >我的阅读器</a>
  </nav>
  {% if book_list %}
  <article> {% for book in book_list%}</article>
  <a href="/reader/{{book.id}}/1/" ><img src="{{book.cover_path}}" alt="Cover of {{book.book_name}}" /></a>
  {%endfor%}
  {% else %}
  <article>Error, plz refresh.</article>
  {% endif %}
</body>
</html>

