<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>
    <div class="whole">
      <img src="/static/pic/logo.png" class="logo"/>
      <form method="post" name="post"  class="login">
        <article class="article">用户名:</article>
        <input type="text" id="username" name="username" placeholder="Username" class="input username" autofocus/>
        <article class="article">密码:</article>
        <input type="password" id="password" name="password" class="input password"/>
        <input type="submit" value="登录" class="button"/>
      </form>
      <a href="#" class="button">注册</a>
      <a href="" class="forget">忘记密码？</a>
    </form>
  </div>

</body>
</html>

