<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/static/js/word_cloud.js"></script>
    <link rel="stylesheet" href="/static/css/personal.css" />
  </head>
  <body onload="draw()">
    <div class="ceil">
      <img src="/static/pic/logo.png" class="logo" />
    </div>
    <div class="second_part">
      <a href="/index">Home Page</a>
      <div class="search">
        <input type="text" onkeyup="high_light()" id="search_id"/>
      </div>
    </div>
    <canvas id="canvasId" width="1000px" height="500px">
      Your browser doesn't support canvas.
    </canvas>
  </body>
</html>
