<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Midas Reader</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript"> 
      var page_num = {{page_num}};
var book_id={{book_id}};
var prev_pgae = {{prev_page}};
var next_page = {{next_page}};
var max_page_num  = {{max_page_num}};
</script>
<script type="text/javascript" src="/static/js/blockUI.js"></script>
<script type="text/javascript" src="/static/js/jquery.tipTip.js"></script>
<script type="text/javascript" src="/static/js/comment.js"></script>
<script type="text/javascript" src="/static/js/beautify.js"></script>
<script type="text/javascript" src="/static/js/notepad.js"></script>
<script src="/static/js/jq_fix_csrf.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/sync.js"></script>
<script type="text/javascript">
  var server_page_num = page_num;
  function post_it(){
    //console.log("post_it start");
    if (page_num > max_page_num-1)
      page_num = max_page_num-1;
    $.post("/print/", {
current_page:page_num+1
},
function(data) {
//console.log("data: "+data);
alert(data);
});
}
function post_it_back(){
  //console.log(page_num);
  if ( page_num -1 == 0)
    page_num = 2;
  $.post("/print/", {
current_page:page_num-1
},
function(data) {
//console.log(page_num)
//location.href="/reader/{{book_id}}/"+page_num.toString(10);
});
}
function get_it() {
  $.get("/print/", function(data){
      //console.log("get_It data: " + data);
      server_page_num = data.page_num;
      //console.log("server_page_num "+server_page_num);
      });
}
function startTimer(){
  get_it();
  if ( server_page_num != undefined && server_page_num == page_num)
  {
    setTimeout("startTimer()", 1000);
    //console.log("cmp: "+page_num);
  }
  else
  {
    location.href="/reader/{{book_id}}/"+server_page_num;
    //console.log("jump to "+ server_page_num);
  }
}

</script>
<script type="text/javascript" src="/static/js/gesture.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/tipTip.css" />
<link rel="stylesheet" href="/static/css/reader.css" />
  </head>
  <body onload="SetArray(100);init2();startTimer();onLoadEvent()" >

    <!--rolling comments-->
    <div class="whole" id="wholeId" onmouseover="stop()" onmouseout="goon()">
      <div id="scrollId" class="scroll"></div>
      <input type="button" class="agree" value="Agree(0)"/>
      <input type="button" class="against" value="Against(0)"/>
    </div>
    <!--logo part-->
    <div class="logo">
      <a href="/index"><img src="/static/pic/logo.png" class="tipTip" title="MidaReader"/></a>
    </div>

    <!--comment part-->

    <div class="commentBlock" style="display:none">
      <input type="button" class="addCm" value="Comment"/>
      <input type="button" class="exitComment" value="Close"/>
      <br />
      <textarea id="commentId" rows="4" class="commentTekjkxt" cols="30"></textarea>
    </div>
    <div class="nearby_comment" style="display:none">
      <img src="/static/pic/nearby_comment_bg.png" class="nearby_comment_bg"/>
      <div class="nearby_comment_content"></div>
    </div>
    <!--left_button part-->
    <div class="left_button">
      <div>
        <img src="/static/pic/comment_close.png" id="comment_close" onclick="comment_show()" class="tipTip" title="Show hotest comment"/>
        <img src="/static/pic/comment_open.png" id="comment_open" style="display:none" onclick="comment_hide()" class="tipTip" title="Hide hotest comment"/>
      </div>
      <div>
        <img src="/static/pic/comment_close.png" onclick="comment_show_up()" class="comment_show_up tipTip" title="Rolling comments"/>
      </div>
    </div>
    <!--Show text part-->
    {% if text %} 
    <div id="container">
      <div class="title_line">
        <img src="/static/pic/title_line.png"/>
      </div>
      <div class="page"> 
        <div class="content" id="contentId">
          {{text}}
        </div>
        <hr/><hr/>
        <div class="pagenum">Page:  {{page_num}}</div>     
        {% else %}
        <div class="content">Please refresh.</div>
        {% endif %}
      </div>
    </div>

    <!--page_button part-->
    <div class="page_button">
      <div>
        <a href="/reader/{{book_id}}/{{next_page}}" id="next_page" onclick="post_it()"><img src="/static/pic/next_page.png" /></a>
      </div>
      <div>
        <a href="/reader/{{book_id}}/{{prev_page}}" id="prev_page" onclick="post_it_back()"><img src="/static/pic/prev_page.png" class="prev_page" /></a>
      </div>
    </div>

    <img src="/static/pic/pen.png" class="note tipTip" title="Take note"/>

    <!-- note part-->
    <div id="noteId" style="display:none"/>
      <input onclick="Selectall()" type="button" value="All" class="buttoncss"/>
        <input type="button" class="save" value="Save" >
      <div class="word">Add Note:
        <input type="text" name="addtext" id="addId" size="15"/>
      </div>

      <input onclick="AddText(page_num,document.all.addtext.value)" type="button" value="Add" class="buttoncss"/>
      <br/>
      <textarea onkeyup="SetPage()" id="txtid" rows="10" cols="45" ></textarea>
      <br/>
    </div>

    <!--appear comment-->
    <div id="CNID" class="C_and_N" style="display:none">
      <img src="/static/pic/comment.png" class="comment tipTip" title="Comment"/>
    </div>
    <!--loading -->
  </body>
</html>
